<html>
    <head>
        <title>Book Info Form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Book Info Form</h1>
        <a href="/">Return to home</a>
        <form method="POST" enctype="multipart/form-data" action="/create_news/">
            <label for="id">Book id:</label>
            <input type="number" name="id" required><br><br>
            <label for="title">Book name:</label>
            <input type="text" name="title" required><br><br>

            <label for="description">Description:</label>
            <input type="text" name="description" required><br><br>
            <label for="category_id">Category:</label>
            <input type="number" name="category_id" required><br><br>
            <label for="author_id">Author:</label>
            <input type="number" name="author_id" required><br><br>
            <!-- <label for="photo">Photo:</label>
            <input type="file" name="photo" required><br><br> -->

            <input type="submit" value="Submit">
        </form>
    </body>
</html>