<html>
    <head>
        <title>User Info Form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>User Info Form</h1>
        <a href="/show_all">Return to home</a>
        <form method="POST" enctype="multipart/form-data" action="/add_user/">
            <label for="username">Username:</label>
            <input type="text" name="username" required><br><br>
            <label for="email">Email:</label>
            <input type="email" name="email" required><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>